<div class="page-wrapper">
  <mat-toolbar color="warn">
    <mat-form-field *ngIf="this.model" class="search-form">
      <input type="text" [value]="this.model.title" (input)="titleChangedHandler($event.target.value)" placeholder="title"
        matInput />
    </mat-form-field>

    <span class="fill-space"></span>

    <button mat-icon-button (click)="saveBtnHandler()">
      <mat-icon matTooltip="Save" aria-label="Save">save</mat-icon>
    </button>

    <button mat-icon-button (click)="cancelBtnHandler()">
      <mat-icon matTooltip="Close" aria-label="Close">clear</mat-icon>
    </button>
  </mat-toolbar>

  <div *ngIf="this.model" class="steps-container">
    <div *ngIf="this.model.steps.length === 0">Add steps to see the list</div>
    <mat-accordion multi="false">
      <div *ngFor="let step of this.model.steps; let I = index">

        <app-apistep *ngIf="step.stepType == 1" class="step-card" [expanded]="step" (removeButtonClick)="removeStepHandler(I)"
          [model]="step">

        </app-apistep>

        <app-simple-rule *ngIf="step.stepType == 2" [expanded]="step" class="step-card" (removeButtonClick)="removeStepHandler(I)"
          [model]="step">

        </app-simple-rule>

      </div>
    </mat-accordion>
  </div>

  <button mat-raised-button color="warn" class="btn-fixed btn-pin-bottom btn-pin-right btn-right-1" (click)="addEmptyStepHandler('rule')">
    <mat-icon aria-label="rule">notes</mat-icon> Add Rule
  </button>

  <button mat-raised-button color="warn" class="btn-fixed btn-pin-bottom btn-pin-right btn-right-2" (click)="addEmptyStepHandler('url')">
    <mat-icon aria-label="api">cloud</mat-icon> Add Source
  </button>
</div>
