/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body {
  margin: 0;
  padding: 0;
}

button.btn-fixed {
  position: fixed;
}

button.btn-pin-right.btn-right-1 {
  right: 20px;
}
button.btn-pin-right.btn-right-2 {
  right: 150px;
}

button.btn-pin-bottom {
  bottom: 20px;
}

button.btn-pin-right {
  right: 20px;
}

.fill-space {
  flex: 1 1 auto;
}

.search-form {
  width: 400px;
  overflow: hidden;
  padding-top: 20px;
}

button, button:focus, button:active {
  outline: none;
}

.display-none {
  display: none;
}

.hide-animation .page-wrapper {
  -ms-animation: hide-animation .5s forwards;
  -webkit-animation: hide-animation .5s forwards;
  animation: hide-animation .5s forwards;
}

.show-animation .page-wrapper {
  -ms-animation: show-animation .5s forwards;
  -webkit-animation: show-animation .5s forwards;
  animation: show-animation .5s forwards;
}

@keyframes hide-animation {
  from {
    top: 0;
    -ms-opacity: 1;
    opacity: 1;
  }
  to {
    top: 5%;
    -ms-opacity: 0;
    opacity: 0;
  }
}
@keyframes show-animation {
  from {
    top: 5%;
    -ms-opacity: 0;
    opacity: 0;
  }

  to {
    top: 0;
    -ms-opacity: 1;
    opacity: 1;
  }
}
