<mat-card class="flow-item">
  <mat-card-header>
    <mat-card-title>
      {{this.model.title}}
    </mat-card-title>
    <mat-card-subtitle *ngIf="!this.expanded">
      ({{this.model.steps.length}} steps)
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul *ngIf="this.expanded">
      <li *ngFor="let item of this.model.steps; let I = index">
        {{I + 1}}) {{item.stepType == 1 ? 'call to:' : 'apply rule:'}} {{item.title}}
      </li>
    </ul>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="toggleExpanded()">
      <mat-icon matTooltip="show flow details" *ngIf="!this.expanded">expand_more</mat-icon>
      <mat-icon matTooltip="hide flow details" *ngIf="this.expanded">expand_less</mat-icon>
    </button>
    <span class="fill-space"></span>
    <button mat-button (click)="removeFlowHandler()"><mat-icon>delete</mat-icon>Remove</button>
    <button mat-raised-button color="primary"><mat-icon>play_arrow</mat-icon>Execute</button>
  </mat-card-actions>
</mat-card>
