.step-wrapper {
  display: flex;
  flex-direction: row;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.step-wrapper input {
  width: 500px;
}

.steps-container .step-card {
  width: 800px;
  display: block;
  margin-top: 10px;
}

.options-container .mat-checkbox,
.options-container .mat-radio-button {
  margin-right: 20px;
}

.mat-form-field {
  width: 100%;
}

.title {
  font-size: 1.4rem;
  font-family: "Segoe UI", Arial;
}

.mat-expansion-panel-header-title {
  margin: 0;
}

.subtitle {
  color: #c7c7c7;
}
